Repository grafana/tanka, pull requests merged in 2019-11, with the labels that each got.

#106 feat(jsonnet): import .yaml
  pkg/jsonnet/eval.go
  pkg/jsonnet/importer.go
  pkg/jsonnet/imports.go
Labels: component/jsonnet, kind/feature

#112 feat(kubernetes): make reconcile support arrays
  docs/jsonnet/expected-structure.md
  pkg/kubernetes/data_test.go
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/reconcile_test.go
Labels: component/kubernetes, kind/feature

#108 Don't crash if an environment directory is missing spec.json
  cmd/tk/env.go
  cmd/tk/other.go
Labels: component/cli, kind/bug

#111 refactor(kubernetes): client interface; feat(cli): status
  cmd/tk/init.go
  cmd/tk/jsonnet.go
  cmd/tk/main.go
  cmd/tk/status.go
  go.mod
  go.sum
  pkg/jsonnet/importer.go
  pkg/kubernetes/client/apply.go
  pkg/kubernetes/client/client.go
  pkg/kubernetes/client/context.go
  pkg/kubernetes/client/delete.go
  pkg/kubernetes/client/errors.go
  pkg/kubernetes/client/get.go
  pkg/kubernetes/client/kubectl.go
  pkg/kubernetes/data_test.go
  pkg/kubernetes/errors.go
  pkg/kubernetes/kubectl.go
  pkg/kubernetes/kubernetes.go
  pkg/kubernetes/kubernetes_test.go
  pkg/kubernetes/manifest/errors.go
  pkg/kubernetes/manifest/manifest.go
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/reconcile_test.go
  pkg/kubernetes/subsetdiff.go
  pkg/spec/depreciations_test.go
  pkg/spec/spec.go
  pkg/tanka/parse.go
  pkg/tanka/status.go
  pkg/tanka/tanka.go
  pkg/tanka/workflow.go
Labels: kind/enhancement

#116 fix(kubernetes): subsetdiff overflow
  pkg/kubernetes/manifest/manifest.go
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/subsetdiff.go
Labels: kind/bug, priority/high

#120 fix(kubernetes): properly handle missing namespaces
  pkg/kubernetes/client/apply.go
  pkg/kubernetes/client/client.go
  pkg/kubernetes/client/diff.go
  pkg/kubernetes/client/kubectl.go
  pkg/kubernetes/kubernetes.go
  pkg/kubernetes/subsetdiff.go
  pkg/kubernetes/util/diff.go
Labels: component/kubernetes, kind/enhancement
