Repository grafana/tanka, pull requests merged in 2020-01, with the labels that each got.

#138 Unify docker tagging style
  .drone/docker-manifest.tmpl
  .drone/drone.yml
  .drone/release-note.md
Labels: kind/bug

#130 fix(cli): make -t case insensitive
  cmd/tk/workflow.go
  pkg/kubernetes/kubernetes_test.go
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/util/targetexp.go
Labels: component/cli, kind/enhancement

#140 feat(cli): install k.libsonnet during init
  cmd/tk/init.go
Labels: component/cli, kind/feature

#141 fix(cli): correct k.libsonnet import path in init
  cmd/tk/init.go
Labels: component/cli, kind/bug

#142 fix(cli): k8s init with older jb
  cmd/tk/init.go
Labels: component/cli, kind/bug

#147 fix(kubernetes): don't require `metadata` on `.*List` objects
  pkg/kubernetes/manifest/manifest.go
Labels: component/kubernetes, kind/bug

#148 docs(jsonnet): remove notice about metadata.name
  docs/docs/jsonnet/main.md
Labels: component/docs, kind/enhancement

#152 jsonnet-bundler doesn't allow file-level installs
  docs/docs/known-issues.md
Labels: component/docs, component/jsonnet, kind/bug

#156 Fix order of port args to port-forward
  docs/docs/tutorial/refresher.mdx
Labels: component/docs

#158 fix(docs): s/port/name
  docs/docs/tutorial/abstraction.mdx
Labels: component/docs, kind/bug

#162 fix(kubernetes): ignore nil during reconcile
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/reconcile_test.go
Labels: component/jsonnet, kind/bug

#145 feat(cli): set env server from context
  cmd/tk/env.go
  pkg/kubernetes/client/context.go
Labels: component/cli, kind/feature

#163 feat(jsonnet): expose Environment at runtime
  cmd/tk/jsonnet.go
  pkg/jsonnet/eval.go
  pkg/jsonnet/importer.go
  pkg/jsonnet/tk.libsonnet.go
  pkg/spec/spec.go
  pkg/tanka/parse.go
Labels: component/jsonnet, kind/feature

#167 docs: directory structure
  docs/docs/directory-structure.md
  docs/doczrc.js
Labels: component/docs, kind/enhancement

#166 Support nested lists when discovering manifests
  pkg/kubernetes/data_test.go
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/reconcile_test.go
Labels: component/kubernetes, kind/bug

#170 fix(docs): releaseNote sh0rez -> grafana
  .drone/drone.yml
  .drone/release-note.md
Labels: component/docs, kind/bug

#176 fix(jsonnet): disable import .yaml for importstr
  pkg/jsonnet/importer.go
Labels: component/jsonnet, kind/bug

#178 feat(cli): extVars
  cmd/tk/jsonnet.go
  cmd/tk/workflow.go
  pkg/tanka/parse.go
  pkg/tanka/tanka.go
Labels: component/cli, component/jsonnet, kind/feature

#179 doc(release): Changelog for 0.7.0
  CHANGELOG.md
Labels: component/docs

#184 fix(cli): server from context on env add
  cmd/tk/env.go
Labels: component/cli, kind/bug

#182 fix: Stable environment name
  cmd/tk/main.go
  cmd/tk/tool.go
  pkg/jsonnet/imports.go
  pkg/jsonnet/imports_test.go
  pkg/jsonnet/jpath/jpath.go
  pkg/kubernetes/kubernetes_test.go
  pkg/spec/spec.go
  pkg/tanka/parse.go
  pkg/tanka/tanka.go
  pkg/tanka/workflow.go
Labels: component/kubernetes, kind/bug

#181 refactor(kubernetes): Jsonnet testdata
  pkg/kubernetes/data_test.go
  pkg/kubernetes/kubernetes_test.go
  pkg/kubernetes/reconcile.go
  pkg/kubernetes/reconcile_test.go
  pkg/kubernetes/testdata/k8s.libsonnet
  pkg/kubernetes/testdata/resources.jsonnet
  pkg/kubernetes/testdata/tdArray.jsonnet
  pkg/kubernetes/testdata/tdDeep.jsonnet
  pkg/kubernetes/testdata/tdFlat.jsonnet
  pkg/kubernetes/testdata/tdInvalidPrimitive.jsonnet
  pkg/kubernetes/testdata/tdRegular.jsonnet
  pkg/kubernetes/testdata/utils.libsonnet
Labels: component/kubernetes, kind/enhancement

#185 Allow environment vendor overrides
  pkg/jsonnet/imports_test.go
  pkg/jsonnet/jpath/jpath.go
  pkg/jsonnet/jpath/jpath_test.go
  pkg/jsonnet/jpath/testdata/precedence/README.md
  pkg/jsonnet/jpath/testdata/precedence/environments/default/baseDir.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/environments/default/main.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/environments/default/spec.json
  pkg/jsonnet/jpath/testdata/precedence/environments/default/vendor/baseDir-vendor.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/environments/default/vendor/baseDir.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/environments/default/vendor/lib.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/jsonnetfile.json
  pkg/jsonnet/jpath/testdata/precedence/lib/baseDir.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/lib/lib.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/vendor/baseDir-vendor.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/vendor/baseDir.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/vendor/lib.jsonnet
  pkg/jsonnet/jpath/testdata/precedence/vendor/vendor.jsonnet
  pkg/jsonnet/testdata/importTree/README.md
  pkg/jsonnet/testdata/importTree/jsonnetfile.json
  pkg/jsonnet/testdata/importTree/main.jsonnet
  pkg/jsonnet/testdata/importTree/test.svg
  pkg/jsonnet/testdata/importTree/trees.jsonnet
  pkg/jsonnet/testdata/importTree/trees/apple.jsonnet
  pkg/jsonnet/testdata/importTree/trees/cherry.jsonnet
  pkg/jsonnet/testdata/importTree/trees/generic.libsonnet
  pkg/jsonnet/testdata/importTree/trees/peach.jsonnet
Labels: component/jsonnet, kind/feature

#186 feat(cli): adding possiblity to disable schema validation for kubectl…
  cmd/tk/workflow.go
  pkg/kubernetes/client/apply.go
  pkg/kubernetes/client/client.go
  pkg/tanka/tanka.go
Labels: component/cli, component/kubernetes, kind/feature
