Repository grafana/tanka, pull requests merged in 2020-02, with the labels that each got.

#196 feat: bump jsonnet to v0.14.1+master
  go.mod
  go.sum
Labels: component/jsonnet, kind/enhancement

#198 feat(jsonnet): Environment vendor
  docs/docs/directory-structure.md
  docs/docs/libraries/import-paths.md
  docs/docs/libraries/overriding.md
  docs/doczrc.js
  pkg/jsonnet/jpath/dirs_test.go
  pkg/jsonnet/jpath/jpath.go
  pkg/jsonnet/jpath/jpath_test.go
Labels: component/jsonnet, kind/feature

#208 fix(kubernetes): let kubectl handle namespaces
  pkg/kubernetes/client/apply.go
  pkg/kubernetes/client/context.go
  pkg/kubernetes/client/delete.go
  pkg/kubernetes/client/diff.go
  pkg/kubernetes/client/diff_test.go
  pkg/kubernetes/client/exec.go
  pkg/kubernetes/client/exec_test.go
  pkg/kubernetes/client/get.go
  pkg/kubernetes/client/kubectl.go
  pkg/kubernetes/kubernetes.go
  pkg/kubernetes/kubernetes_test.go
  pkg/kubernetes/reconcile.go
Labels: component/kubernetes, kind/bug

#203 fix(spec): Remove viper
  cmd/tk/env.go
  cmd/tk/main.go
  go.mod
  pkg/jsonnet/jpath/jpath.go
  pkg/kubernetes/errors.go
  pkg/kubernetes/util/targetexp.go
  pkg/spec/depreciations.go
  pkg/spec/depreciations_test.go
  pkg/spec/errors.go
  pkg/spec/spec.go
  pkg/tanka/parse.go
  pkg/tanka/tanka.go
Labels: kind/enhancement

#202 feat(cli): diff without chroma
  cmd/tk/util.go
  cmd/tk/util_test.go
  cmd/tk/workflow.go
  go.mod
  go.sum
Labels: component/cli, kind/enhancement

#213 fix(kubernetes): handle kubectl-diff exit 1
  pkg/kubernetes/client/client.go
  pkg/kubernetes/client/diff.go
  pkg/kubernetes/client/kubectl.go
  pkg/kubernetes/kubernetes.go
Labels: component/kubernetes, kind/bug

#214 feat(cli): Exporting
  cmd/tk/export.go
  cmd/tk/main.go
  cmd/tk/workflow.go
  docs/docs/exporting.md
  pkg/tanka/workflow.go
Labels: component/cli, kind/feature

#215 doc(release): Changelog for 0.8.0
  CHANGELOG.md
Labels: component/docs

#216 fix(cli): restore diff coloring on apply
  cmd/tk/util.go
  cmd/tk/workflow.go
  pkg/cli/colordiff.go
  pkg/cli/colordiff_test.go
  pkg/tanka/workflow.go
Labels: component/cli, kind/bug

#225 fix(kubernetes): Randomize nsPatch file name
  pkg/kubernetes/client/context.go
Labels: component/kubernetes, kind/bug
