Repository grafana/tanka, pull requests merged in 2020-10, with the labels that each got.

#396 feat: Tanka version constraint
  Makefile
  cmd/tk/main.go
  pkg/spec/v1alpha1/config.go
  pkg/tanka/parse.go
Labels: component/cli, kind/feature

#392 doc(readme): community section
  README.md
  docs/img/community-call.png
Labels: component/docs

#388 doc: helm.template()
  docs/docs/completion.md
  docs/docs/config.md
  docs/docs/diff-strategy.md
  docs/docs/directory-structure.md
  docs/docs/env-vars.md
  docs/docs/exporting.md
  docs/docs/garbage-collection.md
  docs/docs/helm.mdx
  docs/docs/installation.mdx
  docs/docs/namespaces.md
  docs/docs/targets.md
  docs/doczrc.js
  pkg/helm/jsonnet.go
Labels: component/docs

#389 feat: allow other entrypoints
  cmd/tk/tool.go
  pkg/jsonnet/eval.go
  pkg/jsonnet/imports.go
  pkg/jsonnet/jpath/jpath.go
  pkg/tanka/parse.go
Labels: kind/enhancement
